.btn {
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid #0000;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  background-color: #0000;
  background-image: none;
  &:focus {
    outline: none;
  }
  &_color_primary {
    border-color: $primary-color;
    color: $primary-color;
  
    &:hover {
      color: #fff;
      background-color: $primary-color;
      border-color: $primary-color;
    }
  }
  &_color_danger {
    border-color: $danger-color;
    color: $danger-color;
    &:hover {
      color: #fff;
      background-color: $danger-color;
      border-color: $danger-color;
    }
  }
}
