.click-logs {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  border: 1px solid $border-color;
  margin: 10px 0;
  padding: 8px;
  & :not(:first-child) {
    margin-top: 4px;
  }
  &__empty-log {
    padding: 20px;
    text-align: center;
    color: $gray-color-text;
  }
}
